extends layout.pug

block content 
  div#home
    div#homeoverlay.container-fluid
      div.row
        div.directions.col-md-6
          img#logo(src="images/visualdrive.png") 
          h2 Visual Drive
          p Visual Drive aims to visualize data taken from a car using D3JS. Using data gathered from an OBDII adapter, I have created a visualization of a standard car dashboard including a car's speedometer, odometer, gear position status, and fuel levels. In addition, I have plotted the route taken on Google Maps which updates as the car moves through the city streets of Detroit. 

          p This app is a full-stack app using NodeJS and Express. The speedometer, engine speed and fuel guages are D3JS elements. 
        div.directions.col-md-6
          h2 Take a Test Drive
          p The test drive will begin with opening the door and entering into the car as indicated by the door status light. When the car is turned on, the dashboard will come to life and the graphs will adjust to the current vehicle readings. As we shift gears into drive and pull out of the parking lot, our speedometer will adjust to show the current speed and as we pull onto the main road, the engine speed will adjust to show the increased rpms as we accelerate up to 40mph. 
          p As our trip progresses, we can see the result of our journey on the map.
          p.small This app is meant to be viewed in full screen mode.
          br
          br
          div.btnCntr
            a#td.button(href='/dash') Take a Test Drive

    
      