extends layout.pug

block content 
  div#home
    div#homeoverlay.container-fluid
      div.row
        div.col-md-6
          img#logo(src="images/visualdrive.png") 
          p Visual Drive aims to visualize data taken from a car. Using data gathered from an OBDII adapter, I have created a visualization of a standard car dashboard including a car's speedometer, odometer, gear position status, and fuel levels. 
        div.col-md-6
          h4 Take a Test Drive
          p The test drive will begin with entering into the car as indicated by the door status light. When the car is turned on, the dashboard will come to life and the graphs will adjust to the current readings. As we move into drive and pull out of the parking lot, our speedometer will adjust to show the current speed and as we pull onto the main road, the engine speed will adjust to show the increased rpms. 
          p As our trip progresses, we can see the result of our journey on the map.

    
      