doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css')
    title Car Dashboard
  body
    script(src='https://d3js.org/d3.v3.min.js') 
    script(src="https://d3js.org/d3-color.v1.min.js")
    script(src="https://d3js.org/d3-interpolate.v1.min.js")
    script(src="https://d3js.org/d3-scale-chromatic.v1.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    block content

    

  
