extends layout.pug

block content 
  div#dashboard.container
    div.content
      div.row
        div.col-md-3
          div.row
            img#headlamp.col-md-4(src = '/images/headlamp.png')
          div.row
            div#gear.col-md-6
              img#park(src='/images/p.png')
              img#reverse(src='/images/r.png')
              img#neutral(src='/images/n.png')
              img#drive(src='/images/d.png')
            svg#rpm.col-md-6(style="font-family: Helvetica; font-weight: bold;" )
        div.col-md-6
          div.row
        div.col-md-1
        svg#speedometer.col-md-6
        svg#fuelLevel.col-md-3
      div.row
        div#odometer.col-md-6.col-md-offset-3(class='odometer') 0000000
  div#map
    div#capture
  
        img#doorstatus.col-md-1.col-md-offset-10(src = '/images/doorclosed.png')

  
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgN6DtP77GqN7ZtAcqJKTyiB6gFQfkEds&callback=initMap&path=color:blue|weight:5" async defer)
  script(src='/javascripts/map.js')
  script(src='/sampleData.js')
  script(src='/javascripts/script.js')
  script(src='/javascripts/odometer.js')
  script(src='/javascripts/fuelLevelGuage.js')
  script(src='/javascripts/speedometer.js')
  script(src='/javascripts/rpm.js')

  script(src='/javascripts/maindashboard.js')