extends layout.pug

block content 
  div#odometer(class='odometer') 0000000
  svg#fuelLevel(width='97%', height='250', onclick='fuelLevel.update(NewValue());')
  svg#speedometer(width='97%', height='250')
  svg#rpm(width="100" height="300" style="font-family: Helvetica; font-weight: bold;" )
  img#headlamp(src = '/images/headlamp.png')
  img#doorstatus(src = '/images/doorclosed.png')
    

  
  script(src='/sampleData.js')
  script(src='/javascripts/odometer.js')
  script(src='/javascripts/fuelLevelGuage.js')
  script(src='/javascripts/speedometer.js')
  script(src='/javascripts/rpm.js')

  script(src='/javascripts/maindashboard.js')