div#menu
  div.container
    div.content
      div.row
        div.col-md-10
          div.btnCntr
            a#dash.button(href='#') Dashboard
        div.col-md-2
          div.btnCntr
            a#mp.button(href='#') Map
    