/*fuel gauge*/

.liquidFillGaugeText { 
  font-family: Helvetica; 
  font-weight: bold; 
}


/*speedometer*/
.label{
  font-size:22.5px;
  fill:#ffffff;
  text-anchor:middle;
  alignment-baseline:middle;
}

.face{
  stroke:#c8c8c8;
  stroke-width:2;
}

.minorTicks{
  stroke-width:2;
  stroke:white;
}

.majorTicks{
  stroke:white;
  stroke-width:3;
}